<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Details</title>
</head>

<body>
    <h1>Booking Summary</h1>

    <p><strong>Pickup Location:</strong>
        <%= reservation.pickupLocation %>
    </p>
    <p><strong>Drop-off Date & Time:</strong>
        <%= reservation.dropoffDateTime %>
    </p>

    <p><strong>Cars:</strong></p>
    <ul>
        <% selectedCars.forEach(carId=> { %>
            <li>
                <%= carId %>
            </li>
            <% }) %>
    </ul>

    <p><strong>Extras:</strong></p>
    <ul>
        <% Object.keys(selectedExtras).forEach(key=> { %>
            <li>
                <%= key %>: <%= selectedExtras[key] %>
            </li>
            <% }) %>
    </ul>


</body>

</html>